{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block title %} News {% endblock %} 

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  {% include 'includes/navigation.html' %} 
  <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">{% if form.instance.pk %}Update Topic{% else %}Create New Topic{% endif %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="py-7">
    <div class="container">
      <div class="row mt-6">
        <div class="col-lg-8 mx-auto">
          <form method="post" enctype="multipart/form-data" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
