{% extends "layouts/base.html" %}
{% block title %} {{ object.title }} {% endblock %}

{% block body_class %} new-detail {% endblock %}

{% block content %}
  {% include 'includes/navigation.html' %}
  <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">News Detail</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

 <section class="py-7">
    <div class="container">
      <div class="row mt-6">
        <div class="col-lg-12">
          <div class="card card-plain">
            <div class="card-body">
              <div class="author">
                <div class="name">
                  <h6 class="mb-0 font-weight-bolder">{{ object.title }}</h6>
                  <p class="text-muted">Published: {{ object.published_date|date }}</p>
                  <p class="text-muted">Topics:
                    {% for topic in object.topics.all %}
                      {{ topic.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </p>
                  <p class="text-muted">Publishers:
                    {% for publisher in object.publishers.all %}
                      {{ publisher.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </p>
                </div>
              </div>
              <p class="mt-4">{{ object.content }}</p>
              <div class="mt-4">
                <a href="{% url 'agency:newspaper-update' pk=object.pk %}" class="btn btn-primary">Update</a>
                <a href="{% url 'agency:newspaper-delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
