{% load static %}
<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 ms-auto">
        <a href="#">
          <img src="{% static 'assets/img/logo-ct-dark.png' %}" class="mb-3 footer-logo" alt="main_logo">
        </a>
        <h6 class="font-weight-bolder mb-4">Newspaper Agency</h6>
        <ul class="d-flex flex-row ms-n3 nav">
          <!-- Social media links -->
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <!-- Company links -->
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Resources</h6>
          <ul class="flex-column ms-n3 nav">
            <!-- Resource links -->
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Help & Support</h6>
          <ul class="flex-column ms-n3 nav">
            <!-- Help & Support links -->
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <!-- Legal links -->
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            Coded by <a href="https://github.com/mkuchuman" class="font-weight-bold" target="_blank">mkuchuman</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
